@model RosBets.Models.User

@{
    ViewBag.Title = "Личный кабинет";
}

@using (Html.BeginForm("Details", "User", FormMethod.Post))
{
<h2>Личный кабинет</h2>
<table>
    <tr><a href="~/User/Details/@Model.Id">Личная информация  </a></tr>
    <tr>     </tr>
    <tr><a href="~/User/Story/@Model.Id">   История пари</a></tr>
</table>

<h4>Личная информация</h4>

<dl class="dl-horizontal">
    
    <dt>Адрес электронной почты</dt>

    <dd>@Model.Mail</dd>

    <dt>Пароль</dt>

    <dd>@Model.Mail</dd>

    <dd>
        <a href="~/User/ChangePassword/@Model.Id">Сменить пароль</a>
    </dd>

    <dt>Имя</dt>

    <dd>@Model.FirstName @Model.MiddleName @Model.LastName</dd>

    @*<dt>Дата рождения</dt>

    <dd>Сюда вставить дату рождения</dd>*@

    <h3>Контактная информация</h3>

    <dt>Город проживания</dt>

    <dd>@Model.City</dd>

    <dt>Мобильный телефон</dt>

    <dd>@Model.Phone</dd>

 </dl>

   
    <p>
        <a href="~/Home/Index">На главную</a>
    </p>
}
