@model RosBets.Models.User

@{
    ViewBag.Title = "Личный кабинет";
}

@using (Html.BeginForm("Details", "User", FormMethod.Post))
{
<h2>Личный кабинет</h2>
<table>
    <tr><a href="~/User/Details/@Model.Id"><button>Личная информация</button></a></tr>
    <tr><a href="~/User/Story/@Model.Id"><button>История пари</button></a></tr>
    <button><a href="~/User/Story/@Model.Id">История пари</a></button>
</table>

<h4>Личная информация</h4>

<div>
    <table>
        <div>Адрес электронной почты</div>
        <div>@Model.Mail</div>

    </table>

    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@

    <a href="~/Home/Index"><button>На главную</button></a>
</p>
}