@model RosBets.Models.ChangePass

@{ViewBag.Title = "Изменение пароля"; }


<section class="account-index background-main" ng-app="details" ng-init="tab = 1" ng-controller="PanelController as panel">
    <div class="account-box container">
        <div class="form-group">
            <div class="col-md-12">
                <h2 style="text-align:center">Смена пароля</h2>
            </div>
        </div>


            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal login-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-6 form-label" })
                    <div class="col-sm-6">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-text" })
                    </div>
                    <div class="col-sm-offset-6 col-sm-6">
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-6 form-label" })
                    <div class="col-sm-6">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-text" })
                    </div>
                    <div class="col-sm-offset-6 col-sm-6">
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-sm-6 form-label" })
                        <div class="col-sm-6">
                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-text" })
                        </div>
                        <div class="col-sm-offset-6 col-sm-6">
                            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 form-input">
                            <input class="form-btn" type="submit" id="PassChange" name="PassChange" value="Изменить">
                        </div>
                    </div>

            }


        </div>
</section>
@Scripts.Render("~/Scripts/angular.min.js")
@Scripts.Render("~/Scripts/details-ang.js")
@Scripts.Render("~/Scripts/ChangePass.js")





