@{
    Layout = null;
}

@model RosBets.Models.ChangePass

@*@{
    ViewBag.Title = "Изменение пароля";
}*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Смена пароля</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/ChangePass.js")
</head>
<body>
    <div class="changepass-box container" id="back-layer">
        @{Html.RenderAction("RenderHeader", "Home");}
        <section class="login-index background-main">
            <div class="login-box container">

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal login-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-4 form-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-text" })
                        </div>
                        <div class="col-sm-offset-4 col-sm-8">
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-4 form-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-text" })
                        </div>
                        <div class="col-sm-offset-4 col-sm-8">
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-sm-4 form-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-text" })
                        </div>
                        <div class="col-sm-offset-4 col-sm-8">
                            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 form-input">
                            <input class="form-btn" type="submit" id="PassChange" name="PassChange" value="Изменить">
                        </div>
                    </div>

                }
                </div>
                </section>
                @{Html.RenderPartial("footer");}
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/jqueryval");
            </div>
</body>

</html>


