@model RosBets.Models.ChangePass

@{
    ViewBag.Title = "Изменение пароля";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/ChangePass.js")
</head>
<body>
    <div class="changepass-box container">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table id="edt" class="changepass-table">
                <tr>
                    <td>@Html.LabelFor(m => m.OldPassword)</td>
                    <td>
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-text" })
                    </td>
                    <td>@Html.ValidationMessageFor(m => m.OldPassword)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.NewPassword)</td>
                    <td>
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-text" })
                    </td>
                    <td>@Html.ValidationMessageFor(m => m.NewPassword)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ConfirmNewPassword)</td>
                    <td>
                        @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-text" })
                    </td>
                    <td>@Html.ValidationMessageFor(m => m.ConfirmNewPassword)</td>
                </tr>

                <tr>
                    <td>
                        <input class="form-btn" type="submit" id="PassChange" name="PassChange" value="Смена пароля">
                    </td>
                </tr>
            </table>
        }

       
        @*@{Html.RenderPartial("footer");}*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval");
    </div>
</body>

</html>





