@model RosBets.Models.ChangePass

@{
    ViewBag.Title = "Изменение пароля";
}


<h2>Изменение пароля для пользователя</h2>

<div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table id="edt">
            <tr>
                <td>@Html.LabelFor(m => m.OldPassword)</td>
                <td>
                    @Html.TextBoxFor(m => m.OldPassword)
                </td>
                <td>@Html.ValidationMessageFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>
                    @Html.TextBoxFor(m => m.NewPassword)
                </td>
                <td>@Html.ValidationMessageFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmNewPassword)</td>
                <td>
                    @Html.TextBoxFor(m => m.ConfirmNewPassword)
                </td>
                <td>@Html.ValidationMessageFor(m => m.ConfirmNewPassword)</td>
            </tr>
           
            <tr>
                <td>
                    @*<input type="submit" id="Register" name="Register" value="Зарегистрироваться">*@
                    <input type="submit" id="PassChange" name="PassChange" value="Смена пароля">
                </td>
            </tr>
        </table>
        //@Html.AntiForgeryToken()
    }
</div>





@*<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>*@

    @*<input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />*@
    @*<div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
        <input type="text" asp-for="OldPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label">Повторите пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>*@
@*</form>*@

