@model RosBets.Models.User

<section class="account-index background-main" ng-app="details" ng-init="tab = 1" ng-controller="PanelController as panel">
    <div class="account-box container">
        <h2>Личный кабинет</h2>
        <div class="nav nav-pills">
            <ul class="row">
                <li ng-class="{active: panel.isSelected(1)}" class="col-md-6">
                    <a ng-click="panel.selectTab(1)">Личная информация</a>
                </li>
                <li ng-class="{active: panel.isSelected(2)}" class="col-md-6">
                    <a ng-click="panel.selectTab(2)">История ставок</a>
                </li>
            </ul>
        </div>
        <div ng-show="panel.isSelected(1)">
            <table class="table table-bordered table-line" id="ourtable">
                <tr>
                    <td rowspan="1">@Html.LabelFor(m => m.FirstName)</td>
                    <td rowspan="1"> Model.FirstName</td>
                </tr>
                <tr>
                    <td rowspan="1">@Html.LabelFor(m => m.LastName)</td>
                    <td rowspan="1">@Model.LastName</td>
                </tr>
                <tr>
                    <td rowspan="1">@Html.LabelFor(m => m.MiddleName)</td>
                    <td rowspan="1">@Model.MiddleName</td>
                </tr>
                <tr>
                    <td rowspan="1">@Html.LabelFor(m => m.Mail)</td>
                    <td rowspan="1">@Model.Mail</td>
                </tr>
                <tr>
                    <td rowspan="1">@Html.LabelFor(m => m.City)</td>
                    <td rowspan="1">@Model.City</td>
                </tr>
                <tr>
                    <td rowspan="1">@Html.LabelFor(m => m.Phone)</td>
                    <td rowspan="1">@Model.Phone</td>
                </tr>
            </table>
            <div class="account-buttons">
                <a href="~/Account/ChangePassword/@Model.Id" class="btn col-md-6 col-sm-12">Изменить пароль</a>
                <!--<a href="~/Account/Story/@Model.Id" class="btn col-md-6 col-sm-12">История пари</a>-->
            </div>
        </div>
        <div ng-show="panel.isSelected(2)">            
            @{Html.RenderPartial("story");}
        </div>
    </div>
</section>
@Scripts.Render("~/Scripts/angular.min.js")
@Scripts.Render("~/Scripts/details-ang.js")
@Scripts.Render("~/Scripts/SearchHistory.js")