
@*@{
    ViewBag.Title = "История пари";
}
@model RosBets.Models.BetSearch*@

@{
    Layout = null;
}
@model RosBets.Models.BetSearch

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>История пари</title>
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/SearchHistory.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="changepass-box container" id="back-layer">
        @{Html.RenderAction("RenderHeader", "Home");}
        <section class="login-index background-main">
            <div class="login-box container">
                <h2>История пари</h2>

                <div class="changepass-box container" id="back-layer" color="white">
                        Тип пари:
                        <select name="bets" id="bets">
                            <option value="all" selected>Все</option>
                            <option value="ordinary">Ординары</option>
                            <option value="express">Экспрессы</option>
                        </select>
                    
                    Результаты:
                    <select name="results" id="results">
                        <option value="all" selected>Все</option>
                        <option value="positive">Положительные</option>
                        <option value="negative">Отрицательные</option>
                        <option value="awaiting">Ожидающие ответа</option>
                    </select>

                    <button name="show" id="show">показать</button>
                </div>

                <div>
                    <table class="table table-bordered table-line" id="ourtable">
                        <thead>
                            <tr>
                                <td rowspan="1" class="table-td">Матч</td>
                                <td rowspan="1" class="table-td">Дата</td>
                                <td rowspan="1" class="table-td">Статус</td>
                                <td rowspan="1" class="table-td">Тип</td>
                                <td rowspan="1" class="table-td">Коэффициент</td>

                            </tr>
                        </thead>
                        <tbody class="tbody" id="ourtable">@Html.Action("CategorySearch", "Account")></tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    @{Html.RenderPartial("footer");}
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval");
  
</body>
</html>
