@model IEnumerable<RosBets.Models.Match>

<h2>ShowResults</h2>

@foreach (var match in Model.GroupBy(x => x.Championship.Name))
{
    <div style="border: 1px solid black">
        <br/>
        <p style="font-size:2em; background: #ccc;"><strong>Чемпионат: @match.Key</strong></p>
        <br />
        @foreach (var item in match)
        {
            <br />
            <p>Матч @item.Date</p>
            <p>Матч @item.MatchName</p>
            <p>Играли @item.Team1Name против @item.Team2Name</p>
            <p>Счет @item.Team1Score : @item.Team2Score</p>
            <br />
        }             
    </div>

}


