@model PagedList.IPagedList<RosBets.Models.Match>
@using PagedList.Mvc;

<div class="container" style="margin-top: 20px; align-content: center;">
    <div class="row">
        @using (Html.BeginForm("ShowResults", "Results", FormMethod.Post))
        {
            <div class="col-sm-2" id="wrapper-dropdown">
                <label for="sport">Вид спорта:</label>
                <select name="sport" id="sport">
                    <option value="Все" selected>Все</option>
                    <option value="Футбол">Футбол</option>
                    <option value="Хоккей">Хоккей</option>
                </select>
            </div>
            <div class="col-md-3" style="padding-top:15px;">
                <div class="col-md-2">C: </div>
                <div class="col-md-10"><input id="date1" name="date1"></div>
            </div>
            <div class="col-md-3" style="padding-top:15px;">
                <div class="col-md-2">По: </div>
                <div class="col-md-10"><input id="date2" name="date2"></div>
            </div>
            <div class="col-md-4" style="padding-left: 100px; padding-top: 0px; padding-bottom: 10px;">
                <button class="btn-filter" name="show" id="botShow">Отправить</button>
            </div>
          }
    </div>


    <div class="result-story" id="result-story">


   @foreach (var match in Model)
    {
        <div class="container">
            <div class="col-sm-12">
                <div class="col-sm-4" style="background: #ccc; margin-top: 10px;">@match.Championship.Name</div>
            </div>
            <hr style="margin-top: 9px;" />
            <div class="col-sm-12" style="margin-top: 20px;">
                <div class="col-sm-4">@match.Date</div>
                <div class="col-sm-6">@match.MatchName</div>
                <div class="col-sm-2">@match.Team1Score - @match.Team2Score</div>
            </div>
            <hr style="margin-top: 5px;"/>
        </div>
    }
        <div style="margin-top:20px;">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        </div>
        @Html.PagedListPager(Model, page => Url.Action("ShowResults", "Results", new { page , date1 = ViewBag.date1, date2 = ViewBag.date2, sport = ViewBag.sport}))

    </div>
</div>
<hr/>

@Styles.Render("~/Content/ResultsForm.css")

@section scripts {
    <script type="text/javascript">
        
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional["ru"]);
            $(function () {
                $("#date1").datepicker({                    
                    showAnim: "slide",
                    yearRange: "2016:2020"
                });
            });
            $(function () {
                $("#date2").datepicker({                    
                    showAnim: "slide",
                    yearRange: "2016:2020"
                });
            });
                        
            });
        </script>
    }
