@model List<RosBets.Models.Sport>


<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-3" id="wrapper-dropdown">
            <label for="sport">Вид спорта:</label>
            <select name="sport" id="sport">
                <option value="Все" selected>Все</option>
                @foreach (var sport in Model)
                {
                    <option value="@sport.Name">@sport.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <div class="col-md-2">C: </div>
            <div class="col-md-10"><input id="date1" type="date" name="date1"></div>
        </div>
        <div class="col-md-3">
            <div class="col-md-2">По: </div>
            <div class="col-md-10"><input id="date2" type="date" name="date2"></div>
        </div>
        <div class="col-md-3">
            <button class="btn-filter" name="show" id="botShow">показать</button>
        </div>
    </div>
    <div class="result-story" id="result-story">
        @Html.Action("MyShowResults", "Results")
    </div>
</div>
<hr />


@*@section scripts {
    @Scripts.Render("~/Scripts/SearchResults.js")
}*@
    @Styles.Render("~/Content/ResultsForm.css")


    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#botShow').click(function () {
                    //alert("кнопка нажата");
                    var obj = {
                        sport: $("#sport").val(),
                        date1: $("#date1").val(),
                        date2: $("#date2").val(),
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/Results/MyShowResults',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=UTF-8',
                        success: function (response) {
                            $('#result-story').html(response);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                });

            });
        </script>
    }
