<div class="conteiner text-center">
    <ul class="list-group list-inline">
        <li><a href="@Url.Action("index","Home")" class="list-group-item">Главная</a></li>
        <li><a href="@Url.Action("About","Home")" class="list-group-item">О нас</a></li>
        <li><a href="@Url.Action("Contact","Home")" class="list-group-item">Контакты</a></li>
        <li><a href="@Url.Action("Info","Home")" class="list-group-item">Информация</a></li>
    </ul>
</div>
<div class="icon-bar text-center">
    <ul class="list-inline">
        <li><a href="#"><div id="instagram" class="icons"></div></a></li>
        <li><a href="#"><div id="skype" class="icons"></div></a></li>
        <li><a href="#"><div id="linkedin" class="icons"></div></a></li>
        <li><a href="#"><div id="vkontakte" class="icons"></div></a></li>
        <li><a href="#"><div id="youtube" class="icons"></div></a></li>
        <li><a href="#"><div id="github" class="icons"></div></a></li>
        <li><a href="#"><div id="facebook" class="icons"></div></a></li>
    </ul>
</div>
<div class="container">
    <div class="col-12"><p class="text-center">&copy; @DateTime.Now.Year - RosBets</p></div>
</div>
