<!--header-->
<header class="header">
    <div class="row">
        <!--navbar-->
        <div class="navbar navbar-inverse col-sm-12 col-md-6">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RosBets", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("АПЛ", "#", "#")</li>
                    <li>@Html.ActionLink("РФПЛ", "#", "#")</li>
                    <li>@Html.ActionLink("НХЛ", "#", "#")</li>
                </ul>
            </div>
        </div>
        <!--/navbar-->
        <!--userbar-->
        <div class="user-bar col-sm-12 col-md-6">
            <div class="container">
                <div class="row">
                    <div class="bar user col-xs-4 col-sm-4 col-md-4">
                        <div class="round-box">
                            <a class="circle" href="#">
                                <i class="fa fa-user fa-1x"></i>
                            </a>
                            <span class="text" href="#">Тест</span>
                        </div>
                    </div>
                    <div class="bar money col-xs-4 col-sm-4 col-md-4">
                        <div class="round-box">
                            <a class="circle" href="#">
                                <i class="fa fa-money fa-1x"></i>
                            </a>
                            <span class="text" href="#">0,00 р.</span>
                        </div>
                    </div>
                    <div class="bar login col-xs-4 col-sm-4 col-md-4">
                        <div class="round-box">
                            <a class="circle" href="@Url.Action("Login","Account")">
                                <i class="fa fa-sign-in fa-1x"></i>
                            </a>
                            <span class="text" href="#">Вход</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/userbar-->
    </div>
    <div class="line"></div>
</header>
<!--/header-->
