@model RosBets.ViewModels.CouponViewModel

<div class="right-menu-header">
    <h2>Купон</h2>
</div>

@if (Model.CouponEvents.Count > 0)
{
    foreach (var couponEvent in Model.CouponEvents)
    {
        <div class="col coupon">
            <i class="fa fa-times fa-coupon" aria-hidden="true" data-bind-id = "@($"{couponEvent.EventId}_{couponEvent.MatchId}")" id ="@couponEvent.Id"></i>
@*            $1$            <span class="championship-name coupon-span">Championship</span>#1#*@
@*            <span class="coefficient-name coupon-span float-span-left">Коэффицент</span>*@
@*            <span class="coefficient coupon-span float-span-right">0.00</span>*@
            @*            <span class="coupon-span clearfix"></span>            *@
            
            @couponEvent.Match.MatchName <br/>
            @couponEvent.Match.Date <br/>
            @couponEvent.Event.FullName @couponEvent.Coefficient<br/>
            

        </div>
    }
    <div class="coupon-summary">
        <hr/>
        Общий коэффицент: @Model.TotalCoefficient
    </div>
    
}
