@model RosBets.ViewModels.CouponViewModel

<div class="right-menu-header">
    <i class="fa fa-times fa-bigcross"></i>
    <h2>Купон</h2>
</div>
<div class="login-error coupon-message">
    Создание ставок доступно только зарегистрированным пользователям.
</div>
<div class="money-error coupon-message">
    Недостаточно денег для создания ставки.
</div>
<div class="bet-success coupon-message">
    Ставка создана.
</div>
@if (Model.CouponEvents.Count > 0)
{
    if (Model.CouponEvents.Count > 1)
    { 
        <div class="coupon-tabs">
            <ul class="nav nav-tabs toggle-coupon text-center">
                <li class="active">
                    <a data-toggle="tab" href="#ordinar">Ординар</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#express">Экспресс</a>
                </li>
            </ul>
        </div>
    }
    <div class="tab-content">
        @if (Model.CouponEvents.Count > 1)
        {
        <div id="express" class="tab-pane fade">
            @foreach (var couponEvent in Model.CouponEvents)
            {
                <div class="col coupon clearfix">
                    <i class="fa fa-times fa-coupon" aria-hidden="true" data-bind-id="@($"{couponEvent.EventId}_{couponEvent.MatchId}")" id="@couponEvent.Id"></i>
                    <span class="match-name coupon-span">@couponEvent.Match.MatchName</span>
                    <span class="coupon-date coupon-span">@($"{couponEvent.Match.Date:dd.MM hh.mm}")</span>
                    <span class="event-name coupon-span">@couponEvent.Event.FullName @couponEvent.Total</span>
                    <div class="coefficient-name coupon-span float-elem-left">Коэффицент</div>
                    <div class="coefficient coupon-span float-elem-right">@couponEvent.Coefficient</div>
                </div>
            }

            <div class="col coupon coupon-summary coupon clearfix">
                <span class="coupon-span float-elem-left">Общий коэффицент:</span>
                <span class="coefficient coupon-span float-elem-right">@Model.TotalCoefficient</span>
                <span class="coupon-span float-elem-left">Возможный результат:</span>
                <span class="coefficient coupon-span float-elem-right" id="ordinary-sum">1564654</span>
                <input id="expressBetValue" class="float-elem-left coupon-input" name="amount"/>
                <div class="submitExpress float-elem-right coupon-button">Поставить</div>
            </div>
        </div>
        }

        <div id="ordinar" class="tab-pane fade in active clearfix">
            @foreach (var couponEvent in Model.CouponEvents)
            {
                <div class="col coupon clearfix">
                    <i class="fa fa-times fa-coupon" aria-hidden="true" data-bind-id="@($"{couponEvent.EventId}_{couponEvent.MatchId}")" id="@couponEvent.Id"></i>
                    <span class="match-name coupon-span">@couponEvent.Match.MatchName</span>
                    <span class="coupon-date coupon-span">@($"{couponEvent.Match.Date:dd.MM hh.mm}")</span>
                    <span class="event-name coupon-span">@couponEvent.Event.FullName @couponEvent.Total</span>
                    <div class="coefficient-name coupon-span float-elem-left">Коэффицент</div>
                    <div class="coefficient coupon-span float-elem-right">@couponEvent.Coefficient</div>
                    <input id="value_@couponEvent.Id" class="float-elem-left coupon-input" name="amount">
                    <div data-id="@couponEvent.Id" class="submitOrdinary float-elem-right coupon-button-small">>></div>
                </div>
            }

            <div class="col coupon coupon-summary coupon clearfix">
                <span class="coupon-span float-elem-left">Общий коэффицент:</span>
                <span class="coefficient coupon-span float-elem-right">@Model.TotalCoefficient</span>
                <span class="coupon-span float-elem-left">Возможный результат:</span>
                <span class="coefficient coupon-span float-elem-right" id="ordinary-sum">5465484</span>
                <input id="allOrdinary" class="float-elem-left coupon-input" />
                <div class="multipleOrdinary float-elem-right coupon-button">Поставить</div>
            </div>
        </div>

    </div>
    
}
